
 @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

:root{
	--corprincipal: #ADD8E6;
	--corsegundaria:#ADD8E6;
	--cortitulo: #363636;
}

body{
	background: var(--corsegundaria);
}

*{
	margin: 0;
	padding: 0;
	font-family: 'Inter', monospace;

}

.cabecalho{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 2%;
	margin-top: 15px;
	background: var(--corprincipal);
	color: var(--cortitulo);

}

.cabecalho h1{
	color: var(--cortitulo);
	text-align:center;
}

.container-input{
	display: flex;
	justify-content: space-between;
	padding: 2% 0 0 4%;
}

.container-input .input{
	width: 400px;
	height: 30px;
}
#input-texto{
	width: 345;
	height: 330px;
	font-size: 20px;
	color: var(--cortitulo);
	background: transparent;
	box-shadow: none;
	border: none;
	outline: 0;
	padding: 10px;
	text-transform: lowercase;
}
#input-texto p{
	font-size: 10px;
	color: var(--cortitulo);		
}

#output{
	display: flex;
	flex-direction: column;
	border: 3px solid var(--cortitulo);
	border-radius: 20px;
	width: 350px;
	height: 400px;
	margin-right:3%;
}
#output h2{
	text-align: center;
	font-size: 25px;
	color: var(--cortitulo);
}

#output span{
	font-size: 16px;
	text-align: center;
	color: #8B7B8B;
}

#output img{
	max-width: 500px;
	max-height: 600px;
	width: auto;
	height: auto;
	margin-top: 4%;
	background: transparent;
}

.container-btn button{
	border: 2px solid var(--cortitulo);
	border-radius: 10px;
	text-decoration: none;
	color: ##363636;
	width: 150px;
	height: 50px;
	margin-left: 4%;
	cursor: pointer;
	margin top: 15xp;
}

.btn-copiar{
border: 2px solid var(--cortitulo);
	border-radius: 10px;
	text-decoration: none;
	color: ##363636;
	width: 150px;
	height: 50px;
	margin-bottom: 10%;
	margin-left: 30%;
	cursor: pointer;
}
.container-btn button:hover{
	border: 2px solid var(--corsegundaria);
	transition: 0.5s all;
}
.rodape{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 2%;
	margin-top: 15px;
	background: var(--corprincipal);
	color: var(--cortitulo);
}

.rodape h3{
	font-size: 16px;
}
.rodape li{
    text-decoration: none;
    list-style: none;
}

.icons ion-icon{
	width: 25px;
	height: 25px;
	color: var(--cortitulo);
}

.icons ion-icon:hover{
	color: var(--corsegundaria);
}
